log.txt
config.txt
activity_log.txt
favourites.txt
/backup/
/bbs/
/carts/demos
/cdata
sdl_controllers.txt
tools/__pycache__
*.bak
*.egg-info
_label.png
/bin
/carts/q8k*.p8
/carts/*.bin
/maps/*.log
/maps/*.prt
/maps/*-compile.map
/maps/autosave
*.blend1
/env/






